@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap");
/* Bulma Helpers */

.has-text-primary {
  color: #5a32a3 !important;
}

a.has-text-primary:hover, a.has-text-primary:focus {
  color: #44267c !important;
}

.mr-auto {
  margin-right: auto !important;
}

.is-size-1 {
  font-size: 3rem !important;
}
/* Bulma Utilities */
 .button {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 2px);
  padding-left: calc(0.75em - 2px);
  padding-right: calc(0.75em - 2px);
  padding-top: calc(0.5em - 2px);
  position: relative;
  vertical-align: top;
}
 .button:focus, .button:active {
  outline: none;
}

 .button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

 .title:not(:last-child) {
  margin-bottom: 1.5rem;
}

/* Bulma Base */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  background-color: #eff0eb;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}


footer,
header {
  display: block;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

body {
  color: #0d0d0e;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #5a32a3;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #363636;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* Bulma Components */

.navbar {
  background-color: white;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}
.navbar > .container {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

@media screen and (max-width: 1023px) {
  .navbar > .container {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .navbar {
    align-items: stretch;
    display: flex;
  }

  .navbar {
    min-height: 3.25rem;
  }

  .navbar > .container .navbar-brand,
.container > .navbar .navbar-brand {
    margin-left: -0.75rem;
  }
}

/* Bulma Elements */

.button {
  background-color: white;
  border-color: #dbdbdb;
  border-width: 2px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 2px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 2px);
  text-align: center;
  white-space: nowrap;
}
.button .icon {
  height: 1.5em;
  width: 1.5em;
}
.button .icon:first-child:not(:last-child) {
  margin-left: calc(-0.5em - 2px);
  margin-right: 0.25em;
}
.button .icon:last-child:not(:first-child) {
  margin-left: 0.25em;
  margin-right: calc(-0.5em - 2px);
}
.button .icon:first-child:last-child {
  margin-left: calc(-0.5em - 2px);
  margin-right: calc(-0.5em - 2px);
}
.button:hover {
  border-color: #797575;
  color: #363636;
}
.button:focus {
  border-color: #3254a3;
  color: #363636;
}
.button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(90, 50, 163, 0.25);
}
.button:active {
  border-color: #0d0d0e;
  color: #363636;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

@keyframes moveIndeterminate {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

.title {
  word-break: break-word;
}

.title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

/* Bulma Grid */

/* Bulma Layout */

.footer {
  background-color: #fafafa;
  padding: 3rem 1.5rem 6rem;
}

/* Bulma Form */

h1 {
  color: blue;
}

/*# sourceMappingURL=global.css.map */

h3 {
	color: green;
}

.tweet {
	color: blue;
}

