<meta charset="UTF-8">
<title>EJS Is Fun</title>

<link rel="stylesheet" href="/styles/bundle.css">
<link rel="icon" href="/images/favicon.ico">
<script>var exports = {}</script>
<script type="module" src="/scripts/bundle.js"></script>
<style>
  body { padding-top:50px; }
</style>