<main>
  <div class="jumbotron">
    <h1 class="is-size-1 has-text-primary">This is great</h1>
    <h3>Welcome to templating using EJS</p>
    {# [1,2,3].forEach(el => { #}
      <p>{#= el #}</p>
    {# }); #}
  </div>
</main>

<div>
  {#- include('../partials/tweet'); #}
</div>